[general]
debug=0
logfile=console ; console for direct console output, filename for file based logging

[asterisk_ari]
username=asterisk
password=asterisk
host=127.0.0.1
port=8088
protocol=http
endpoint=/ari
transport=ws ; ws for none encrypted, wss for encrypted (currently, only ws is supported)

[asterisk_manager]
username=amiuser
password=amipassword
host=127.0.0.1
port=5038

